/*Universal*/

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(55, 55, 55);
    margin: 0px;
    padding: 0px;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    max-height: 4rem;
}

header div{
    display: flex;
    align-items: center;
}

header img{
    display: inline-flex;
    margin-left: 1.5rem;
}

header div p{
    color: grey;
}

header div p span{
    color: rgb(55, 55, 55);
    font-weight: bold;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 1.5rem;
}

header nav ul li a{
    display: inline-flex;
    margin: 0rem 0.5rem 0rem 0.5rem;
    color: rgb(55, 55, 55);
    text-decoration: none;
}

/*Banner*/

#banner{
    display: flex;  
    background-color: rgba(128,128,128,0.4);
    width: 100%;
    padding: 2rem 1.5rem 2rem 1.5rem;  
}

#banner img{
    display: inline-flex;
    margin-right: 2rem;
    width: 60%;
}

#banner div{
    margin: auto;
}

#banner div h1{
    font-weight: bold;
}

#banner div a{
    display:flex;
    justify-content: center;
    color: white;
    background-color: rgb(55, 55, 55);
    text-decoration: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*main*/

